.divRaiz {
    height: 300px;
    width: 100vw;
    top: 500px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: -1;
    background-color: grey;
    // margin-bottom: 20px;
    overflow: hidden;
}

.icono {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 40px;
    border: solid 1px blue;
    height: 25px;
    width: 80%;
    text-transform: capitalize;
    .contenido {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 40%;
    }
    .porciento {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 40%;
    }
    button {
        height: 20px;
        width: 50px;
        background-color: #425;
        color: white;
        border: solid 0.4px white;
        border-radius: 1.5px;
        border-style: outset;
        .icono_cerrar {
            cursor: pointer;
        }
    }
}